<head>
  <script type="text/javascript">
      var host = "tomasz.janczuk.org";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
  </script>
  <meta charset="utf-8">
  <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href='https://profiles.google.com/106765781828978076113?rel=author' rel='author'/>
  <meta content='3caUf-jrUFgqZM6HxjcLsu3pI7S7naptkDEZ_p5pmME' name='google-site-verification'/>
  <meta name="description" content="{{ site.description }}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=64" type="image/x-icon" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=16" sizes="16x16">
<link rel="apple-touch-icon" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=57">
<link rel="apple-touch-icon" sizes="72x72" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=72">
<link rel="apple-touch-icon" sizes="114x114" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=114">
<link rel="apple-touch-icon" sizes="144x144" href="//www.gravatar.com/avatar/53f70144dc9d7c76455fa91f858d4cec.png?s=144">
<!--  <link rel="stylesheet" href="{{asset "js/styles/obsidian.css"}}"> -->
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/main.css"  | prepend: site.baseurl  }}" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ "/css/print.css"  | prepend: site.baseurl  }}" />
</head>
